
# Frontend
Group-Management-System/frontend/node_modules/
Group-Management-System/frontend/.git/
Group-Management-System/frontend/._*
Group-Management-System/frontend/build/
Group-Management-System/frontend/dist/
